.default-color0.chart-series-line { -fx-stroke: blue; }
.default-color1.chart-series-line { -fx-stroke: yellow; }
.default-color2.chart-series-line { -fx-stroke: brown; }
.default-color3.chart-series-line { -fx-stroke: green; }
.default-color4.chart-series-line { -fx-stroke: rgba(118, 12, 186, 0.47); }

.default-color5.chart-series-line { -fx-stroke: blue; }
.default-color6.chart-series-line { -fx-stroke: yellow; }
.default-color7.chart-series-line { -fx-stroke: brown; }
.default-color8.chart-series-line { -fx-stroke: green; }
.default-color9.chart-series-line { -fx-stroke: rgba(118, 12, 186, 0.47); }
